@import '../../styles/common';

.products-list {
  @include xy-grid-container($padding: false);
  @include xy-grid;
  @include flex-align($x: center);

  @at-root &__header {
    @include xy-cell(10);
    padding: $spacing-sm 0;
  }

  @at-root &__content {
    @include xy-cell(10);
    background-color: $white;
    border-radius: $border-round-sm;
    display: grid;
    grid-row-gap: rem-calc($spacing-sm);
    padding: $spacing-sm;

    @at-root &__item {
      border-bottom: rem-calc(1) solid $gallery;
      color: $mine-shaft;
      display: grid;
      grid-column-gap: rem-calc($spacing-sm);
      grid-template-columns: rem-calc(180) auto rem-calc(170);
      grid-template-rows: rem-calc(180);
      padding-bottom: rem-calc($spacing-sm);
      text-decoration: none;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      .image {
        max-height: rem-calc(180);
        max-width: rem-calc(180);

        img {
          border-radius: $border-round-sm;
          width: rem-calc(180);
        }
      }

      .detail {
        align-self: start;
        padding-right: 200px;
      }

      .price {
        color: $mine-shaft;
        font-size: rem-calc(24);
        margin: $spacing-xs 0 $spacing-md;

        .icon {
          margin-left: rem-calc($spacing-xs);
          vertical-align: baseline;
        }
      }

      .title {
        color: $mine-shaft;
        font-size: rem-calc(18);
        font-weight: normal;
        margin: 0;
      }

      .extra-info {
        color: $dove-gray;
        font-size: rem-calc(12);
        margin: 0;
        padding-top: rem-calc(20);
      }
    }
  }
}
