@import '../../styles/common';

.search {
  @at-root &__form {
    display: grid;
    grid-template-columns: auto rem-calc(40);

    @at-root &__button {
      background-color: $gallery;
      border-bottom-right-radius: $border-round-sm;
      border-top-right-radius: $border-round-sm;

      &[disabled] {
        img {
          opacity: 0.3;
        }
      }
    }

    @at-root &__box {
      border: 0;
      border-bottom-left-radius: $border-round-sm;
      border-top-left-radius: $border-round-sm;
      color: $dove-gray;
      font-size: rem-calc(18);
      height: rem-calc(38);
      line-height: rem-calc(38);
      padding: 0 $spacing-sm;

      &:focus {
        box-shadow: inset 0 0 5px $dusty-gray;
        outline: none;
      }
    }
  }
}
